In [1]:
#Data Types
#strings #float #int #boolean

In [2]:
print("Hello"[0])
#coding counts letter from 0,1,2,3...
#Here where are identifying the first letter this is called as subscript

H

In [5]:
print("Hello"[4])

o

In [6]:
print("123"+"345")
#it doesn't add numbers on concatenate
#to add these numbers we have give correct command od INteger only intergers no decimals

123345

In [7]:
print(123 + 345)
#for adding the numbers strings are not required i.e " " is not required

468

In [9]:
#Larger intergers  like 12,789,843 are given in form on 12_789_843 for us to undertand
#decimal numbers are called as float data type - 3141.59
#boolean data type only two possible value true or false... very important
#BOOLEANS donot have quotation maarks if true or false in quaotaion then it is string

In [10]:
#len function gives type error if we put numbers instead of string

In [14]:
a = (123)
print(type(a))
#Here a=123 is a number not a string

<class 'int'>

In [15]:
a= str(123)
print(type(a))
#Here we are converting an Int into a string by using str function 
#Type fuction then verifies wht is the type of the variable in this case a.

<class 'str'>

In [18]:
num_char = len(input("What is your name?"))
#num_char cannot tell the number in int so we have to convert it into string
new_num_char = str(num_char)
print("Your name contains " + new_num_char + " characters")

What is your name? sandip

Your name contains 6 characters

In [19]:
print(70 + float("100.5"))

170.5

In [20]:
print(str(70)+ str(100))

70100

In [21]:
print(3+9)

12

In [22]:
print(3*3+3/3-3)
#here the PEDMAS rule is followed

7.0

In [24]:
print(3*3/3+3-3)
#or
print(3*(3+3)/3-3)

3.0
3.0

In [30]:
#BMI Calculator= weight(kg)/height*height(m*m)
height = input()
weight = input()
weig_int = int(weight)
new_height = float(height)
BMI = weig_int/(new_height**2)

BMI_as_int = int(BMI)
print(BMI_as_int)

 1.63
 69

25

In [34]:
print(int(8/3))

2

In [37]:
#For 8/3 the answer is 2.7 if we use int function then the answer comes as 2.
#this is not the precise answer hence we use round function
print(round(8/3))
#we can also add the number of decimal point till which we want ot show the number
print(round(8/3,2))

3
2.67

In [38]:
print(8//3)
#this funtion type is automatically changed to interger because of flow division //

2

In [40]:
result=4/2
result/=2
print(result)
#here we are using the value based on the previous value

1.0

score=0
height=1.8
iswinning=True
print("your score is" + str(score) + str(height) + str(iswinning))

In [53]:
score=0 
height=1.8 
iswinning=True 
print("your score is " + str(score) + " your height is " + str(height) + " you are winning "+ str(iswinning))

your score is 0 your height is 1.8 you are winning True

In [56]:
#In the above acode we have to use the str fuction everywhere in the print
#we do this to get correct type 
#this can to easily done by using the Fstring fuction and {}
#In Fstring fucntion you do not need to change the type to string always.
score=0 
height=1.8 
iswinning=True
print(f"your score is {score}, your height is {height}, you are winning is {iswinning}")

your score is 0, your height is 1.8, you are winning is True

In [64]:
#Life in weeks
#we will calculate how many weeks you have left  if you live till 90yrs old.
age= input()
years= 90-int(age)
weeks_left= years*52
print(f"You have {weeks_left} weeks left")

 41

You have 2548 weeks left

In [65]:
print(6 + 4 / 2 - (1 * 2))

6.0